<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @surgical_procedure.name %>
</p>

<%= link_to 'Edit', edit_surgical_procedure_path(@surgical_procedure) %> |
<%= link_to 'Back', surgical_procedures_path %>
