<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @surgical_specialty.name %>
</p>

<%= link_to 'Edit', edit_surgical_specialty_path(@surgical_specialty) %> |
<%= link_to 'Back', surgical_specialties_path %>
