<footer class="bs-footer" role="contentinfo">
  <div class="container">
    <div class="bs-social">
      <ul class="bs-social-buttons">
        <li>
          <iframe src="" frameborder="0"></iframe>
        </li>
      </ul>
    </div>
    <p>Code licensed under <a href="http://www.mozilla.org/MPL/2.0/">Mozilla Public License 2.0</a></p>
  </div>
</footer>