<footer class="bs-footer" role="contentinfo">
  <div class="container">
    <div class="bs-social">
      <ul class="bs-social-buttons">
        <li>
          <iframe src="http://ghbtns.com/github-btn.html?user=mfeckie&repo=urgentcy&type=watch&count=true"
                  allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
        </li>
        <li>
          <iframe src="http://ghbtns.com/github-btn.html?user=mfeckie&repo=urgentcy&type=fork&count=true"
                  allowtransparency="true" frameborder="0" scrolling="0" width="95" height="20"></iframe>
        </li>
        <li>

        </li>
      </ul>
    </div>
    <p><%= image_tag 'osi_standard_logo.png', class: "img-osilogo" %>Code licensed under <a href="http://www.mozilla.org/MPL/2.0/">Mozilla Public License 2.0</a></p>
  </div>
</footer>