<footer class="bs-footer" role="contentinfo">
  <div class="container">
    <p><%= image_tag 'osi_standard_logo.png', class: "img-osilogo" %>Code licensed under <a href="http://www.mozilla.org/MPL/2.0/">Mozilla Public License 2.0</a></p>
  </div>
</footer>